---
---

@import "{{ site.theme }}";

$base-color: #cccc00;
$base-bg-color: #fff;
$base-bg-color-dark: #444444;
$base-bg-color-light: #f0f0f0;

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: unset;
}

header h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: $base-bg-color-dark;
    color: #fff;
    padding: 5px 0px 10px 0px;
    font-weight: 800;
    transform: rotate(-2deg);
}

header h1::after {
    font-weight: 900;
    bottom: 0;
    color: $base-color;
    content: '.';
    margin-left: 8px;
}

header {
    background: $base-bg-color-light;
}

#banner {
    background:#cccc00;
    border: 1px solid #959500;
}

#banner #logo {
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/logo.png");
}

div.wrapper section {
    background: $base-bg-color-light;
}
